* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, input, textarea, button {
    font-size: 1.1rem;
    font-family: 'Josefin Sans', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
}
header.container {
    width: 100% ;
    flex-direction: row;
    justify-content: space-around;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titleDetail {
    color: rgb(255, 0, 170);
}
.icon {
    font-size: 2.6rem;
}

#navMenu {
    padding: 1rem;
    flex-wrap: wrap;
}
#navMenu a {
    padding: 1rem;
}
#searchButton {
    background-image: url(images/loupe.png);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: 250px;
    outline: none;
    border-radius: 8px;
    padding: 0.2rem 1.5rem;
}

#itensList { 
    margin-top: 1rem;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6rem;

    width: 100%;    
}
.itemCard {
    width: 60%;
    max-width: 400px;
    margin: 0 auto;


}
.itemCard .itemImages img{
    width: 75%;
    height: 600px;
    /* display: none; */

}

@media (max-width: 700px){
    #itensList {
        display: flex;
        flex-wrap: wrap;
    }
}